 address {color:blue}
 body {background-color:beige}
 #head{color: aqua;}
 .tab{color: rgb(165, 42, 42);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
 *{font-size: 25px;}